
.AboutWildLifeContainer{
    width: 100%;
    background-color:rgb(50, 50, 50) ;

}
.AboutWildLifeBody{
    display: flex;
    padding: 120px 70px 95px 80px;
}
.aboutUsImageMessage{
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.aboutUsImage{
    width: 500px;
}
.aboutUsImageContainer{
    padding: 30px;
}
.aboutUsBgColor{
    width: 100%;
}
.aboutTeamContainer{
    padding: 85px 0px 85px 0px;;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutTeamBody{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    width: 25%;
    align-items: center;
    text-align: center;
}
.teamHeading{
    padding: 12px 0px 12px 0px ;
    font-size: 27px;
    font-weight: 600;
}
.aboutTeam{
    font-size: 20px;
    font-weight: 400;
    opacity: 0.85;
}
.counterContainer{
    width: 100%;
    background-image: url("../assets/bg-image-2.jpg");
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
.counterBody{
    color: white;
    text-align: center;
}
.counter{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: transparent;
     -webkit-text-stroke: 4px lightgrey;
    font-size: 8rem;
}
.counterHeading{
    font-size: 22px;
    color: orange;
    font-weight: 500;
}
.base{
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: transparent;
     -webkit-text-stroke: 2px lightgrey;
    font-size: 4rem;
}
.upper{
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #151515;
    font-size: 4rem;

}
.aboutUsImageParagraph{
    
    text-align: left;
    padding: 10px 0px 25px 0px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    opacity: 0.8;
}
@media only screen and (max-width: 500px) {
    .AboutWildLifeBody{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .aboutUsImage{
       width: 100%; 
    }
    .aboutUsImageContainer{
       padding: 0px;
        justify-content: center;
        width: 339px;
    }
    .aboutUsImageMessage{
        padding: 0px;
    padding-top:20px;
    }
    .helpAnimalHeading{
        width: 100%;
    }
    .base{
       font-size: 2.5rem;
    }
    .upper{
        font-size: 2.5rem;
    }
    .aboutUsImageParagraph{
    text-align: center;
    }
    .aboutTeamContainer{
        flex-direction: column;
        width: 100%;
    }
    .aboutTeamBody{
        width: 100%;
    }
    .counterContainer{
      padding: 10px;
      justify-content: center;
      flex-wrap: wrap;
      height: 500px;
    }
    .counterBody{
        margin: 10px;
    }
    .counter{
     font-size: 4rem;
    }
    .counterHeading{
        font-size: 16px;
    }
}