$toolbar-color:rgb(68, 65, 65);
.dashBoardContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  
}
.toolBarContainer{
    display: flex;
    width: 100%;
    height:80px;
    background-color:transparent;
    justify-content: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color:$toolbar-color;
}
.toolbar{
    display: flex;
    width: 90%;
}
.toolbarHeading{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;

}
.logo{
    width: 180px;
    height: 50px;
}
.toolbarcontent{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 18px;

}
.bigFont{
    font-size:11em;
    line-height: 1.08em;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff
}
.wildCats{
    font-size:5em;
    font-weight: 300;
}
.wildCatsMessage{
    font-size: 21px;
    align-items: flex-start;
}
.caption{
    display: flex;
    flex-direction: column;
//     justify-content: flex-start;
//     align-items: flex-start;
// }
}
.carousel-caption{
right: 5%;
left: 38%;
top: 20%;
z-index: 0;
display: flex;
}
.carousel-control-next-icon{
  &:hover{
    color: orange !important;
  }
    
 
}