@mixin flexColoumCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.helpAnimalContainer{
    @include flexColoumCenter();
    width: 90%;
    padding: 85px 0px 85px 0px;
}
.helpAnimalHeadingContainer{
    @include flexColoumCenter();
    align-items: center;
    opacity: 1;
    transform: scale(0.9);
    transition: all 1s ease-in-out;
   
}
.addTrnsition{
    opacity: 1;
    transform: scale(1);
}
.helpAnimalHeading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.basetext{
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: transparent;
     -webkit-text-stroke: 2px lightgrey;
    font-size: 5vw;
}
.uppertext{
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #151515;
    font-size: 5vw;
  
}
.helpAnimalHeadingParagraph{
    @include flexColoumCenter();
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-weight: 400;
    font-size: 20px;
    opacity: 0.8;

}
.helpAnimalBodyContainer{
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 0;
    transform: scale(0.5);
    transition: all 1s ease-in-out;

}
.donate{
    position: absolute;
    left: 44%;
    top: 42%;
    padding: 15px 18px 15px 18px;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    background-color: #FEBF1C;
    font-weight: bold;
    transition:all .5s ease-out ;
}
.helpAnimalBody{
    padding: 10px 10px 10px 10px;
    @include flexColoumCenter();
    text-align: center;
    position: relative;
   
    
    .donate{
        // display: none;
        opacity: 0;
    }
    
}
.helpAnimalBody{
    &:hover { 
        .donate{
            opacity: 1;
            display: flex;
            top:47% ;
            transition:all .20s linear;
           
        }
    }
}
.active{
 opacity: 1;
 transform: scale(1);
}
.donate{
    &:hover{
        background-color: rgb(68, 65, 65);
        // color: white;
    }
}

.helpAnimalImage{
    width:420px;
    
}

.helpAnimalImageHeading{
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
}
.helpAnimalDonatePrice{
    font-size: 18px;
    font-weight: 400;
    color: orange;
}
@media only screen and (max-width: 710px) {
    .savedAnimalContainer{
       padding: 85px 10px 85px 10px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
    .basetext{
        font-size: 1.5rem;
    }
    .uppertext{
        font-size: 1.5rem;
    }
    .galleryContainer{
        flex-direction: column;
        justify-content: center;
    }
    .gallery{
        // padding: 25px 10px 25px 10px;
        padding-right: 10px;

        flex-direction: column;
    }
    .helpAnimalBody{
      width: 320px;
    }
    .helpAnimalImage{
        width: 100%;
    }
    .zoom{
        left: 42%;
    }
    .helpAnimalBodyContainer{
        justify-content: center;
    }
    .donate{
        left: 35%;
    }

}
