
.TimeToActContainer{
    width: 100%;
    height: 450px;
    background-image: url("../assets/bg-image.jpg");
}
.timeToActAnimation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
}
.addTranslate{
    opacity: 1;
    transform: translateY(120px) ;
}
@mixin font {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    transition: all .4s;
}
.timeToActHeading{
    @include font();
    color: white;
}
.timeToActTime{
    @include font();
    color: transparent;
    -webkit-text-stroke: 2px white;
}
.savedAnimalContainer{
    width: 100%;
    padding:85px 0px 85px 0px; 
}
.galleryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.zoom{
    position: absolute;
    top: 130px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    padding: 25px 5px;
    color: #505050;
    font-weight: 500;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: all .4s;
}
.gallery{
    padding: 25px 17px 15px 17px;
    justify-content: space-between;
    display: flex;
    position: relative;
    justify-content: center;
    .zoom{
        display: none;
    }
  
}
.galleryImage{
    width: 100%;
    height: 100%;
   
}
.galleryDiv{
    width: 335px;
    height: 276px;
}


.gallery{
    &:hover { 
        .zoom{
          display: block;
        //   top: 140px;
          transition: all .4s;
          
        }
     
    }
}
.zoom{
 &:hover{
    // transition: height 0.3s;
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0.4);
 }
}
.btn-warning{
    background-color: white;
    color: rgb(71, 70, 70);
    font-weight: bold;
    border: none;
    padding: 15px 20px 15px 20px ;
    transition:all 1s linear;
    
}
.btn-warning{
  &:hover{
      color: white;
  }
}
@media only screen and (max-width: 710px) {
    .timeToActHeading{
        font-size: 3rem;
    }
    .timeToActTime{
        font-size: 3rem;
    }
    .TimeToActContainer{
       text-align: center;
    }
}